{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
	Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="header light">Homepage <span id="Clock"></span></h3>
                <div class="card horizontal">
                <div class="card-stacked">
                        <div class="card-content">
                            <p>This page is used to register or update your products.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div id="materialdesign" class="section scrollspy">
        <div class="row section">
            <h3 class="header light center">Principles</h3>
            <div class="col s12 l4">
            <img class="circle responsive-img" src="{{ url_for('static', filename='image/metaphor.png') }}">
            <h4 class="center">Material is the metaphor</h4>
            <p class="light">The metaphor of material defines the relationship between space and motion. The idea is that the technology is inspired by paper and ink and is utilized to facilitate creativity and innovation. Surfaces and edges provide familiar visual cues that allow users to quickly understand the technology beyond the physical world.</p>
            <br>
            </div>

            <div class="col s12 l4">
            <img class="responsive-img" src="{{ url_for('static', filename='image/bold.png') }}">
            <h4 class="center">Bold, graphic, intentional</h4>
            <p class="light">Elements and components such as grids, typography, color, and imagery are not only visually pleasing, but also create a sense of hierarchy, meaning, and focus. Emphasis on different actions and components create a visual guide for users.</p>
            <br>
            </div>

            <div class="col s12 l4">
            <img class="circle responsive-img" src="{{ url_for('static', filename='image/motion.png') }}">
            <h4 class="center">Motion provides meaning</h4>
            <p class="light">Motion allows the user to draw a parallel between what they see on the screen and in real life. By providing both feedback and familiarity, this allows the user to fully immerse him or herself into unfamiliar technology. Motion contains consistency and continuity in addition to giving users additional subconscious information about objects and transformations.</p>
            </div>

            <div class="col s12 l4">
                <img class="circle responsive-img" src="{{ url_for('static', filename='image/metaphor.png') }}">
                <h4 class="center">Material is the metaphor yah</h4>
                <p class="light">The metaphor of material defines the relationship between space and motion. The idea is that the technology is inspired by paper and ink and is utilized to facilitate creativity and innovation. Surfaces and edges provide familiar visual cues that allow users to quickly understand the technology beyond the physical world.</p>
                <br>
            </div>
        </div>
    </div>
</div>

<script>
    let a;
    let time;
    setInterval(() => {
      a = new Date();
      time = a.getDate() + "/" + a.getMonth() + "/" + a.getFullYear() + ', ' + a.getHours() + ':' + a.getMinutes() + ':' + a.getSeconds() ;
      
      document.getElementById('Clock').innerHTML = time;
    }, 1000);

</script>


{% endblock %}

{% block footer %}
{% endblock %}

